/*fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*variable define*/
:root {
  --primary-color: #6eacda;
  --secoundry--color: #03346e;
  --white-color: #fff;
  --black-color: #0a0a0a;
  --bg-gray-color: #f5f5f5;

  /*text color variable*/
  --text-primary: #6eacda;
  --text-secoundry: #03346e;
  --text-white: #fff;
  --text-black: #0a0a0a;
  --text-color: #545454;
  --text-gray: #aba8b0;
  --text-gray-light: #484848;

  /*font family*/
  --primary-font: "poppins", sans-serif;
  --secoundry-font: "nunito sans", sans-serif;
}
a {
  text-decoration: none; /*no underline*/
  
}
.navbar-brand{
  color: var(--text-white);
}

a:hover,
a:focus {
  color: var(--text-primary);
}
ul {
  margin: 0;
  padding: 0;
}

/*custom html*/
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--primary-font);
  font-size: 100%;
  font-weight: 400;
}

h1 {
  font-size: 3.5714rem;
  font-weight: 800;
  margin-bottom: 2rem;
  color: var(--text-black);
  text-transform: capitalize;
}
h2 {
  font-size: 2.8571rem;
  font-weight: 700;
  line-height: 1.3;
  color: var(--text-black);
  text-transform: capitalize;
}
h3 {
  font-size: 1.8571rem;
  font-weight: 700;
  line-height: 1.3;
  color: var(--text-black);
  text-transform: capitalize;
}
h4 {
  font-size: 1.7143rem;
  font-weight: 600;
  line-height: 2.5rem;
  color: var(--text-black);
  max-width: 75%;
}
p {
  font-size: 1rem;
  color: var(--text-color);
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: 0.0625rem;
  margin-bottom: 0;
  font-family: var(--secoundry-font);
}
span {
  display: block;
  font-size: 2rem;
  font-weight: 600;
  font-family: var(--secoundry-font);
  color: var(--text-primary);
  margin-bottom: 1.0714rem;
  position: relative;
}
span:after {
  position:absolute;
  left: 0;
  bottom: -0.1429rem;
  content: "";
  background: var(--secoundry--color);
  width: 2rem;
  height: 0.1429rem;
}
.main-btn {
  display: inline-block;
  font-size: 1rem;
  line-height: 1.8571;
  font-weight: 400;
  border-radius: 0.3571rem;
  padding: 0.7143rem 1.4286rem;
  text-align: center;
  border: 0.1429rem solid transparent;
  position: relative;
  z-index: 1;
  transition: 0.5s;
}

.main-btn:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  
  transition: 0.4s;
}
.style-1 {
  background-color: var(--secoundry--color);
  color: var(--white-color);
}

.style-1:after {
  top: -0.1429rem;
  left: -0.1429rem;
  width: calc(100% + 0.2857rem);
  height: 0;
  background: var(--primary-color);
  border-radius: 0.3571rem;
}
/*make effect*/
.main-btn:hover::after {
  visibility: visible;
  opacity: 1;
}
.style-1:hover::after {
  height: calc(100% + 0.2857rem);
}
.wrapper {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}
.navigation-wrap .navbar-brand img {
  width: 9rem;
}
.navigation-wrap .nav-item {
  padding: 0 0.625rem;
  transition: all 200ms linear;
  list-style: none;
}
.navigation-wrap li {
  list-style: none;
}
.navbar-toggler:focus {
  outline: unset;
  border: unset;
  box-shadow: none;
}

.navigation-wrap .nav-link {
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--text-white);
  letter-spacing: 0.0625rem;
}
.navigation-wrap .nav-link:hover {
  color: var(--text-primary);
}

/*styling of navbar*/
.navigation-wrap.scroll-on{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    background-color:var(--text-black);
    box-shadow: 0 0.125rem 1.75rem 0 rgb(0,0,0,0,09);
    transition: all 0.15s  ease-in-out 0s;

}
.navigation-wrap{
  background-color: var(--text-black);
  
}
/*Top banner*/
.top-banner{
    width: 100%;
    background:url("images/bg2.jpg") no-repeat center;
    background-size: cover;
    padding: 17.8571rem 0 9.375rem;
}
 #pic{
    width:25vw;
    margin-left: 45%;
 }

 /*project section*/
 .project-section{
    width: 100%;
    height: 100%;
    background: url("images/bg2.jpg") no-repeat center ;
    background-size: cover;
    text-align: center;
  }
  
  .project-section span::after{
    left: 50%;
    transform: translateX(-50%);
  }
  .project-section .project-cards{
    margin-top: 6.4286rem;
  }
  .project-section .card{
    padding: 5.3571rem 0 0.7143rem;
    border-radius: 0.3571;
    border: 0;
    -webkit-box-shadow: 0 0 1.0714rem rgba(0,0,0,0.1);
    box-shadow: 0 0 1.0714rem rgba(0,0,0,0.1);
  
    transition: 0.4s;
  }
  
  
  .project-section .card:hover{
    background:var(--secoundry--color)
  }
  .project-section .card:hover h3,
  .project-section .card:hover p{
    color: var(--text-white);
  }

  /*slide image*/
 .carousel-inner{
  width: 58vw;
  margin-left: 20%;
  margin-top: 5%;
 }
  /*Contact form*/
  .contact {
    width: 100%;
    height: 100%;
    background-image: url("images/bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
  }
  .contact span::after {
    left: 50%;
    transform: translateX(-50%);
  }
  .contact .form-group {
    position: relative;
    box-shadow: 0 0 1.0714rem rgba(0, 0, 0, 0.1);
  }
  .contact .form-group input {
    width: 100%;
    height: 4.2857rem;
    border-radius: 0.3571rem;
    background: var(--white-color);
    color: var(--text-gray);
    padding: 1.4286rem 0.7143rem;
    border: none;
  }
  .contact .form-group input:focus {
    border: 0;
    box-shadow: none;
    outline: none;
  }
  /*Footer section*/
  .footer {
    background: var(--black-color);
  }
  .footer .footer-link {
    font-size: 1rem;
    color: var(--text-white);
    padding: 0 1.875rem;
  }
  .footer a {
    font-size: 1.5rem;
    color: var(--text-white);
    padding: 0 1rem;
  }
  .footer p {
    color: var(--text-white);
  }
  